<header>
  <div class="h-width">
    <div>
      <a class="title" href="/">TodoList</a>
    </div>
    <nav>
      <ul>
        <li><a href="/todo">Create Todo</a></li>
        <% if (!name) { %>
        <li><a href="/login">Sign in</a></li>
        <% }else{ %>
        <li><a href="/profile/<%= id %>">Profile</a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</header>
