<header>
  <div class="h-width">
    <div>
      <a class="title" href="/">TodoList</a>
    </div>
    <nav>
      <ul>
        <li><a href="/todo">Create Todo</a></li>
        <li><a href="/login">Sign in</a></li>
      </ul>
    </nav>
  </div>
</header>
